div {
    margin: 0;
    padding: 0;
}

.container {
    height: 480px;
    width: 480px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.map {
    height: 12px;
    width: 12px;
    margin: 1px;
    display: block;
    border: 1px solid #333;

    &.snake {
        background: #59ff38;
    }

    &.null {
        background: #fff;
    }

    &.food {
        background: red;
    }
}
